	

	#EXIT_URL:index.html
	#TOP_ADVERT:Больше возможностей на сайте: WWW.QIWI.RU
	#BOTTOM_ADVERT:Телефон поддержки Visa QIWI Wallet:\n 8(800) 555-74-94 
	#PHONE_PATH:phones.txt
	#PHONE_ERROR_PATH:phones_er.txt
	
	#URL_QIWI_OFERTA:QK_oferta_full.xml
	#URL_BANK_OFERTA:QK_oferta_bank.xml
	
	#MAX_SUMM:15000
	
	#MESSAGE:Минимальная сумма платежа 1,00 руб.\nМаксимальная сумма платежа с учетом комиссии 15000 руб.\nПеревод доступен для получения через 10-15 мин. после отправления.
	
	#pCommis:ObjectData
			TYPE1 { min:50, commis:2.5 }
			TYPE2 { min:50, commis:3 }
			
			

	


