	
	#TEST_MODE:false
	#CONSOLE:false
	#ALERTS:false
	#EMULATE:false
	
	#CONFIG_VERSION:78
	#EXIT_URL:index.html
	#TOP_ADVERT:Больше возможностей на сайте: WWW.QIWI.RU
	#BOTTOM_ADVERT:Телефон поддержки QIWI Кошелька:\n 8(800) 555-74-94
	#PHONE_PATH:phones.txt
	#PHONE_ERROR_PATH:phones_er.txt
	#MESSAGE:Максимальная сумма данного платежа составляет 14 999 руб.\n\nЕсли Вы ввели чужой номер телефона, то претензии по зачислению рассмотрены не будут.
	
	#MASK:8(###)###-##-##
	#LOGO_ON:true
	#MIN_CHAR:1
	#MAX_CHAR:-1
	#MAX_SUM:14999
	
	#OFERTA_XML:QK_oferta_bank.xml
	#PATH_TO_PRV_XML:../xml/
	#INPUT_FORMS:Фамилия,Имя,Отчество
	#QIWI_COMISSION:0, 14999, 1.5, NaN, NaN, 15


