<?xml version="1.0" encoding="UTF-8"?>
<scripts>
	<config totalTime="300" defaultIdleTime="60" version="2.0" log="false">

		<session>
			<var key="settings.MGT_path_format" value="page:time"/>
			<var key="settings.MGT_date_format" value="yyyy-mm-dd hh:nn:ss"/>
			<var key="settings.MGT_exit_last_page" value="true"/>
			<var key="settings.exclude_zero_page" value="true"/>

			<var key="settings.project_name" value="flash_30030_skype"/>
			<var key="settings.project_version" value="1.0.0"/>
			
			
			<var key="extras.one" value="1"/>
			<var key="extras.zero" value="0"/>
			<var key="extras.rp" value="./return_pay.html"/>
			
		</session>

		<statistic defaultProfile="bad">
			<add>
				<bad>
					<var name="_extra_MGT_pay" value="extras.zero"/>
				</bad>
				<good>
					<var name="_extra_MGT_pay" value="extras.one"/>
					<var name="_extra_result_int_page" value="extras.rp"/>
				</good>
			</add>
			<object>
				<variable name="prv_id" value="323"/>
				<variable name="prv_name" value="Magitel"/>
				<variable name="_extra_MGT_project_number" value="30030"/>
				<variable name="_extra_no_print_check" value="true"/>
				<variable name="_extra_fake_provider" value="true"/>
				<variable name="_extra_result_int_page" value="./return.html"/>
				<variable name="_extra_MGT_exit" value="./return.html"/>
				<variable name="getAccountNumber" value="0000000000"/>
			</object>
			<bad
				vars="_extra_MGT_project_number,_extra_MGT_exit,_extra_MGT_date,_extra_MGT_time,_extra_MGT_path, getAccountNumber"
				post="./return.html"/>
			<good
				vars="_extra_MGT_project_number,_extra_MGT_exit,_extra_MGT_date,_extra_MGT_time,_extra_MGT_path, getAccountNumber"
				post="./return_pay.html"/>
		</statistic>

		<defaultBackground type="0" name="bg_1"/>

		<pages>

			<page name="p1" index="1">
				<content type="1" name="exit" pos="50,855"/>
				<content type="1" name="next" pos="750,855" page="fake_page"/>
			</page>
			
			<page name="fake_page" idleTime="1" index="2" stat="good">
			</page>

		</pages>
	</config>
</scripts>

